<!DOCTYPE html>
<html>
<head>
	<title>Bootstrap</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="./bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="./styles/index.css">
  <script src="./scripts/jquery-3.1.0.js"></script>
  <script src="./bootstrap/js/bootstrap.js"></script>
  <script src="./angular/angular.js"></script>
  <script src="./angular/angular-route.js"></script>
  <script src="./scripts/JSON.json"></script>
  <script src="./scripts/index.js"></script>
</head>
<body ng-app="gitmodule" ng-controller="initialize as x" class="container-fluid">
	<header class="navbar container-fluid navbar-default navbar-fixed-top" id="header">
    <div class="col-md-1 headertext">
      <h3 class="headertext col-md-12"> <strong>TopGit</strong></h3>
    </div>
		<div class="col-md-6" id="searchinput">
			<form class="input-group col-md-12" ng-submit="x.searchData()">
		    <input type="text" class="form-control" placeholder="search repository" aria-describedby="sizing-addon1" ng-model="x.searchtext">
				 <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
			</form>
		</div>
    <div class="col-md-4" id="headermessage">
      We've found <strong>{{x.resTotal}}</strong> respositories...
    </div>
  </header>

  <div class="container-fluid" id="mainblock" ng-view>

	</div>

</body>
</html>
