<div class="col-md-9" id="search">
  <div class="col-md-12 well input-group searchdata" ng-repeat = "x in searchCtrl.rawjson" >
    <span class="col-md-1">
      <span class="glyphicon glyphicon-hand-right"></span>
    </span>
    <div class="col-md-11 datarows ">
      <div class="col-md-3">
        <p class="col-md-12 datarows">
          {{ x.name }}
        </p>
        <p class="col-md-12 datarows">
          Language : {{ x.language }}
        </p>
      </div>
      <div class="col-md-9">
        <p>
          {{ x.description}}
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-12" id="pagination">
    <button type="button" class="btn btn-success" ng-click="searchCtrl.pageFirst()">first</button>
    <button type="button" class="btn btn-success" ng-click="searchCtrl.pagePrev()">prev</button>
    <button type="button" class="btn btn-success" ng-click="searchCtrl.pageNext()">next</button>
    <button type="button" class="btn btn-success" ng-click="searchCtrl.pageLast()">last</button>
  </div>
</div>
<div class="col-md-3" id="filter">
    <p class="col-md-12">
      Stars
    </p>
    <input class="col-md-12" type="range" name="stars" min="0" max="100000" ng-model="x.seekbar" ng-change="x.seekChange()">
</div>
