body{
  /*background: #9fe0c0;*/
}
.navbar-default{
  border-color: #39ac73;
}
#header{
  padding-top: .5%;
  padding-bottom: .5%;
  background: #39ac73;
  /*font-weight: bold;*/
  /*#e5ffff;*/
}
#sizing-addon1{
  background: #66ff66;
    border-color:#66ff66;
}
.form-control{
  /*border-color:#39ac73;*/
  border-width: 0px;
}
.headertext{
  padding: 4px 0px;
  margin: 0px;
  text-align: right;
}
#searchinput{
  margin-top: 5px;
}

#headermessage{
  background-color: #3ec180;
  padding: 7px 0px;
  padding-left: 15px;
  margin-top: 5px;
  border-radius: 3px;
}
.container-fluid{
  padding: 0px;
}
#mainblock{
  padding-top: 5%;
}
#search{
  /*border-right: 2px solid #000000;*/
  vertical-align: middle;
  height: 100%;
  padding-top: 1%;
}
#pagination{
  text-align: center;
}
#filter{
  margin-top: 1%;
  padding: 0%;
  padding-bottom:3%;
  border: 1px solid  #3ec180;

}
#filter p{
  padding: 1% 0%;
  background:   #3ec180;
  text-align: center;
}
#filter input{
  margin-top: 8%;
  padding: 0% 1%;
}
.datarows{
  padding: 0;
}
.well{
  padding: 1px;
  background: #e6ffe6;
}
.searchdata{
  cursor: pointer;
}
.glyphicon-hand-right{
  font-size: 22px;
}


input[type=range]{
    -webkit-appearance: none;
    padding: 0;
    border: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    border: none;
    background: #e6ffe6;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #008040;
    margin-top: -5px;
}
input[type=range]:focus {
    outline: none;
}
